body{
    margin: 0;
    padding: 0;
    background: #F0F2F5;
}
.tudo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    height: 800px;
}

.bottom{
    font-family: arial;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height:24.5%;
    background: #fff;
    text-align: center;
}
.bottomtexts{
    text-align: left;
    margin-top: 40px;
    width: 1000px;
    height: 130px;
    font-size: 16px;
}
a{
    margin: 6px;
    text-decoration: none;
    color: grey;
}

.conteudo{
    position: absolute;
    width: 1000px;
    height: 670px;
}

.image1{
    position: absolute;
    width: 330px;
    top: 45px;
    left: -30px;
}

.subtitle{
    position: absolute;
    font-size: 30px;
    font-family: arial;
    font-weight: 100;
    top: 110px;
    width: 500px;
}

.esq{
    margin-left: 58%;
}

.whiteblock{
    text-align: center;
    padding: 20px;
    width: 380px;
    height: 340px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.295);
}

input{
    margin-top: 20px;
    text-align: center;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(175, 175, 175);
}

input:active{
    border-width: 1px;
    border-color: blue;
}

.confirmlogin{
    color: #fff;
    font-size: 25px;
    width: 100%;
    margin-top: 20px;
    border-style: none;
    background: rgb(58, 161, 221);
    cursor: pointer;
}

.newaccount{
    cursor: pointer;
    color: #fff;
    position: relative;
    font-size: 20px;
    width: 66%;
    margin: 10px;
    border-style: none;
    background: rgb(55, 194, 55);
}